.absolute {
  position: absolute
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-14 {
  height: 3.5rem
}

.w-36 {
  width: 9rem
}

.w-40 {
  width: 10rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-2xl {
  border-radius: 1rem
}

.border {
  border-width: 1px
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-1 {
  padding: 0.25rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.p-2 {
  padding: 0.5rem
}

.p-5 {
  padding: 1.25rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pb-8 {
  padding-bottom: 2rem
}

.pr-0 {
  padding-right: 0px
}

.pr-16 {
  padding-right: 4rem
}

.pr-2 {
  padding-right: 0.5rem
}

.pr-20 {
  padding-right: 5rem
}

.pr-5 {
  padding-right: 1.25rem
}

.pr-8 {
  padding-right: 2rem
}

.pr-9 {
  padding-right: 2.25rem
}

.pt-8 {
  padding-top: 2rem
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
